:root {
    --primary-pink: #ff4d6d;
    --envelope-color: #d4a373;
    --paper-color: #fcf5e5;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: #f00000;
    font-family: 'Poppins', sans-serif;
    transition: background 1.5s ease;
}


#changeMsgBtn {
    margin-top: 25px;
    background: linear-gradient(45deg, var(--primary-pink), var(--dark-pink));
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgb(223, 207, 207);
    transition: all 0.3s ease;
}

#changeMsgBtn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 25px rgba(4, 0, 255, 0.6);
}

#changeMsgBtn:active { transform: scale(0.95); }
body.pink-mode { background: #ffb3c1; }

#heartCanvas { position: absolute; top: 0; left: 0; z-index: -1; }


.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 80%; 
    max-width: 400px; 
}


#letter-page {
    position: fixed; 
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.envelope {
    width: 250px;
    height: 170px;
    background: var(--envelope-color);
    position: relative;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.letter-paper {
    background: var(--paper-color);
    padding: 20px;
    width: 85%;
    max-width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border-radius: 2px;
    
   
    position: absolute; 
    opacity: 0; 
    pointer-events: none; 
    transform: scale(0.1) translateY(200px);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Dancing Script', cursive;
    z-index: 5; 
}


.letter-paper.open {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}

.couple-img {
    width: 100%;
    border: 10px solid white;
    box-sizing: border-box;
}


@media (max-width: 600px) {
    h1 { font-size: 1.2rem; }
    .card { padding: 1rem; }
    .envelope { width: 200px; height: 140px; }
    .letter-paper { width: 90%; padding: 15px; }
    h2 { font-size: 1.1rem; }
}


.shatter {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut { to { opacity: 0; transform: scale(0); } }
